.container
  %h1 Users

  = form_tag users_path, :method => 'get' do
    .well
      .row
        .span6
          .clearfix
            = label_tag "Skills"
            .input
              = text_field_tag :skill, params[:skill]
          .clearfix
            = label_tag "Interests"
            .input
              = text_field_tag :interests, params[:interest]
      .row
        .span5
          = submit_tag "Search", :name => nil, :class => "btn info"

  %table
    %thead
      %tr
        %th Name
        %th Skills
        %th
    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td
            - unless user.skills.nil?
              - user.skill_list.each do |skills|
                = link_to skills, :skill => skills
          %td= link_to 'Show', user
