.container
  %h1
    = @user.name

  %h2
    = @linked_in.headline

  %p
    = image_tag @linked_in.picture_url

  %p
    = @linked_in.summary

  %p
    = link_to 'LinkedIn Profile', @linked_in.site_standard_profile_request.url

  %h3 Skills
  - unless @user.skills.nil?
    - @user.skill_list.each do |skills|
      = link_to skills, users_path(:tag => skills)

  %h3 Interests
  - unless @user.interests.nil?
    - @user.interest_list.each do |interest|
      = link_to interest, users_path(:tag => interest)
