!!! 5
%html
  %head
    %title FellowsExchange
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

    %style{:type => "text/css"}
      body {padding-top: 60px;}

  %body
    .topbar
      .fill
        .container
          = link_to 'Fellows Exchange', root_path, :class => 'brand'
          %ul.nav
            %li
              = link_to 'Home', home_index_path
            %li
              = link_to 'About', '#'
            %li
              - if current_user
                = link_to "Sign Out", signout_path
              - else
                = link_to "Sign in with LinkedIn", "/auth/linked_in"

    = yield

    %footer
      %p &copy; Code for America 2011

