!!! 5
%html
  %head
    %title FellowsExchange
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

    %style{:type => "text/css"}
      body {padding-top: 60px;}

  %body
    .topbar
      .fill
        .container
          = link_to 'FellowsExchange', root_path, :class => 'brand'
          - if current_user
            %ul.nav
              %li
                = link_to 'Home', home_index_path
              %li
                = link_to 'Fellows', users_path
              %li
                = link_to "Sign Out", signout_path
          - else
            %ul.nav
              %li
                = link_to "Sign in with LinkedIn", "/auth/linked_in"
    .row
      %div{:class => "span15 offset3"}
        - if flash[:error]
          %div{:class => "alert-message error"}
            %a.close{:href => "#"} &times;
            %p{:id => "error"}
              = flash[:error]
        - if flash[:notice]
          %div{:class => 'alert-message success fade in', 'data-alert' => 'alert'}
            %a.close{:href => '#'} x
            %p
              %strong
                = notice
    = yield

    %footer
      %p &copy; Code for America 2011

